.container {
  width: 550px;
  margin: 0 auto;
}

p,
a,
label {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 0;
}

body {
  margin: 0;
  background: #181818;
}

#dark {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #000000;
  z-index: 80;
  display: none;
  opacity: 0.8;
}

.registration-wrapper {
  width: 450px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 4px;
  margin-top: 50px;
  position: absolute;
  left: 50%;
  margin: 50px 0 0 -225px;
  z-index: 100;
  display: none;

  .action-choice {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 20px 10px;

    .action-choice__wrapper {
      display: flex;
      align-items: center;
      gap: 10px;

      .href {
        cursor: pointer;
        font-weight: bold;
        color: #000;
      }
  
      .href-active {
        color: #d11e6b;
      }
  
      .separator {
        font-weight: bold;
        color: #000;
      }
    }

    .action-choice__close {
      cursor: pointer;
      width: 24px;
      height: 24px;

      .btnClose {
        width: 100%;
        height: 100%;
      }
    }
  }

  .login-wrapper {
    width: 260px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    padding: 30px 0;
    display: none;

    .label {
      width: 100%;
      align-self: self-start;
      font-weight: bold;
      color: #000000;
    }

    .inp {
      width: 100%;
      height: 30px;
      box-sizing: border-box;
      border: none;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      border-radius: 4px;
      outline: none;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: #0c0c0c;
    }

    .enter {
      cursor: pointer;
      width: 100%;
      height: 32px;
      background-color: #e32879;
      border: none;
      border-radius: 4px;
      color: #fff;
    }
  }

  .rememberPassword-wrapper {
    text-align: center;
    border-top: 1px solid #000;
    padding: 20px 0;

    .rememberPassword {
      cursor: pointer;
      font-weight: bold;
      font-size: 14px;
      color: #0000da;
    }
  }
}

header {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;

  .wrapper-login {
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin-right: 20px;

    .btn-login {
      height: 35px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #fff;
      background: none;
      border: 2px solid #fff;
      border-radius: 4px;
      box-sizing: border-box;
      cursor: pointer;
    }

    .btn-signup {
      height: 35px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 14px;
      color: #ffffff;
      background: #e32879;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

.auction {
  padding: 60px 0 80px 0;

  .container {
    .auction__timer {
      width: 300px;
      padding: 10px 20px;
      border: 2px solid #e32879;
      border-radius: 10px 10px 0 0;
      margin: 0 auto;

      .timer__title {
        font-weight: bold;
        font-size: 24px;
        padding-bottom: 8px;
        text-decoration: underline;
        color: #e32879;
      }

      .timer__time {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 5px;

        .time__numbers {
          font-weight: bold;
          font-size: 96px;
        }
      }
    }

    .auction__things {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding: 40px 0;

      .things__first {
        height: 200px;
        width: 200px;
        background: blue;
        border-radius: 2px;
        box-shadow: 0px 0px 24px 0px blue;
        border: none;
      }
      .things__first:hover {
        background: #0000da;
        transform: scale(1.02);
        transition: all 0.2s;
      }

      .things__second {
        height: 200px;
        width: 200px;
        background: red;
        border-radius: 2px;
        box-shadow: 0px 0px 24px 0px red;
        border: none;
      }
      .things__second:hover {
        background: #cf0000;
        transform: scale(1.02);
        transition: all 0.2s;
      }
    }

    .auction__form {
      width: 100%;
      height: auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      .form__input {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .input__label {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
          font-size: 14px;
          letter-spacing: 0.6px;
          color: #e32879;
          margin: 0;
        }

        .input {
          width: 200px;
          height: 24px;
          border: none;
          outline: none;
          border-radius: 2px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
          font-size: 14px;
          color: #000000;
        }
      }

      .form__btn {
        width: 200px;
        height: 34px;

        .btn {
          width: 100%;
          height: 34px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
          font-size: 14px;
          letter-spacing: 0.6px;
          color: #ffffff;
          cursor: pointer;
          background: #e32879;
          border: none;
          border-radius: 2px;
        }

        .btn:hover {
          background: #c51e67;
          transition: all 0.2s;
        }
      }
    }
  }
}

footer {
  height: 140px;
  width: 100%;
  border-top: 1px solid #e0e0e0;
}

@media only screen and (max-width: 680px) {
  .auction {
    .container {
      width: 100%;
      padding: 0 6%;
      box-sizing: border-box;
    }
  }
}

@media only screen and (max-width: 480px) {
  .auction {
    padding: 40px 0 60px 0;

    .container {
      .auction__timer {
        width: 260px;
        box-sizing: border-box;

        .timer__title {
          font-size: 19px;
        }

        .timer__time {
          .time__numbers {
            font-size: 64px;
          }
        }
      }

      .auction__things {
        padding: 25px 0;
        justify-content: space-evenly;

        .things__first {
          width: 150px;
          height: 150px;
        }
        .things__second {
          width: 150px;
          height: 150px;
        }
      }

      .auction__form {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
